body{
    margin: 0px;
}
.header{
    margin: 0px;
    background-image: url(../img/bg.jpg);
    height: 900px;
    overflow: hidden;
}
.p1{
    text-decoration: line-through;
}
.icon{
    float:left; 
    margin-left:35px;
}
footer{
    background-image: url(../img/footer.jpg);
    height: 360px;
}
div{
    border: 0px;
    /*border: 0.1px solid Red;*/
}